body {
    background-image: url("images/bg.jpeg");
    font-family: 'Dosis', sans-serif;
    padding-bottom: 250px;
}

h1 {
    padding-top: 100px;
    font-size: 100px;
    font-weight: bolder;
    margin: 0%;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 75px;
}

h2 {
    font-size: 44px;
    font-weight: bold;
    margin: 0%;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 75px;
}

h3 {
    font-size: 62px;
    font-weight: bold;
    margin: 0%;
    text-align: center;
}

.tabContainer {
    width: 80%;
    height: 400px;
    margin: auto;
}

.tabContainer .buttonContainer {
    height: 15%;
}

.tabContainer .buttonContainer button {
    width: 20%;
    height: 100%;
    float: left;
    border: solid;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background-color: #bebebe;
}

.tabContainer .buttonContainer button:hover {
    background-color: #414141;
    font-weight: bolder;
    color: white;
}

.tabContainer .tabPanel {
    background-color: #eee;
    color: black;
    box-sizing: border-box;
    font-size: 22px;
    display: none;
    padding: 5%;
}

p {
    font-size: 25px;
}